@font-face {
	font-family: "iconfont";
    src: url('iconfont.eot?t=1565617487839'); /* IE9 */
    src: url('iconfont.eot?t=1565617487839#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABsAAAAJ5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBTIFFATYCJAMICwYABCAFhG0HMBvrBciemjwpEmizKJbsxyoAEEIE0X6/2XuCSlKN2kQs0SzRNSQSlEymUzKheAn/f9c0HaPNiEpywHzwc70evlxKbsRCIymzCdkKN7SYEg/1+dW77hOHe20CBTIfUG5zDJrURWEXBxTgWIsi6wMFwH8Yu4ngAZ4mUKtHNdtqZ/84SpADkwJxK0scSij45HInWS2UDStz8apQnZ7TM+SF/338c0cCSZEBZYc3HSJq/qqEadErlRUXlMBPMNYXyDAFyYnTxti+aOHQotXGYgxAxyoOvir/K9QgjvrPEyVQWA+6dN4z8bHgUX+ZQI4Sy5CtSWmU9bX1aF7t0/7NynVx4+Xb6l3y7EUm2ZO6sjMqbSq2J6mmQd/vNCWjYXfNH5d5VxRAC81SkZR1/HKkJmwP10SWj0HFkrGAOjoz579zll8tv50LHflfy9K/jJqBQPaebn7ob1S23Kv+hOQcfAaOhrgmN8xB9Wntwe/jD2zKYyHQpzzkN6aSZXG3VVGrFhWmq1VkqqrjXi2husB3kFTpRqbaEDGnTqFQZxqlaguoNalrfZ02VLTIazBhU0No9oSk0QcyzV6IOTWMQqdXlJojGrXOI3vHOiMhJ7VR4BiImA9hWTB0gowsSRSPguRTOZoXcvokUEsOYpfdWU52gQ50iTmWX3IzRjChhoY7tfNAVQ1sUsMLArN7GDNrHQ7S9CG7YGgoyQoKcBggwnghmExg0BHanUmqfH8UkPioOLSjYcQ5CVAWuX/Mxc45gNgl0wc1PMo7Fj+JG8MQGEEZNFinNgyoVAbMbB7mBQSMnWdCxFTLAVuRoTL79grt7/ZALaBOAQdlyktOFjkdIQAAAA==') format('woff2'),
    url('iconfont.woff?t=1565617487839') format('woff'),
    url('iconfont.ttf?t=1565617487839') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1565617487839#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face{
	font-family: "myFonts";
	src:url("../fonts/FZY4FW.ttf");
}

html,body{
	height: 100%;
	width: 100%;
}
body{
	background-image: url(../images/index_images/index_image.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
	font-family: "myFonts";
	color: #bb2a2a;
}
.main_container{
	height: 100%;
}
.main_row{
	height: 100%;
}
.main_row_div1{
	height: 100%;
}
.main_row_div1_1{
	height: 100%;
}
.main_row_div1_1_1{
	height: 100%;
}
.flex_box_banner{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: 100%;
	justify-content:center;
}
.flex_box_banner > ul{
	padding: 0;
	width: 100%;
}
.flex_box_banner > ul >li{
	list-style: none;
	text-align: center;
	line-height: 4rem;
}
.flex_box_banner .chinese_li{
	font-size: 1.5rem;
	padding-top: 2rem;
}
.flex_box_banner .chinese_li+li{
	line-height: 0.1rem;
	font-size: 1rem;
}
.handbger{
	font-family: "iconfont";
	font-size: 4rem;
	padding-bottom: 4rem;
}

.flex_box_contain{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: 100%;
}
#main_row_left{
	background-color: rgba(26,26,29,0.49);
}
#row_nopadding{
	padding-left: 0;
}
/*首页css样式*/